.booking {
  padding: 50px 0;

  background-image: image-set(
    url("../img/booking/booking@2x.webp") 2x,
    url("../img/booking/booking@1x.webp") 1x,
    url("../img/booking/booking@2x.jpg") 2x,
    url("../img/booking/booking@1x.jpg") 1x,
  );

  background-size: cover;
  background-position: center center;
}

.booking__inner {
  padding: 0 163px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.booking__info {
  padding-top: 165px;
  max-width: 495px;
  min-width: 420px;
}

.booking__title {
  margin: 0 0 7px;

  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.booking__text {
  margin: 0;
  max-width: 355px;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.booking form {
  max-width: 403px;
  padding: 45px 50px 52px;
  color: $color-default-white;
  background-color: $dark-blue;

  h3 {
    margin: 0 0 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  input {
    max-width: 303px;
    width: 100%;
    height: 43px;
    padding: 17px 15px;
    margin-bottom: 20px;

    border: none;

    background-color: $color-default-white;
    color: $dark-blue;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    outline: none;

    &:nth-last-of-type() {
      margin: 0 0 25px;
    }
  }

  label {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;

    padding-left: 23px;
    margin: 0 0 35px;
  }

  button[type="submit"] {
    padding: 10px;
    width: 100%;
    min-height: 40px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: $dark-blue;
    background-color: $color-default-white;
  }
}
