.contacts {
  padding: 120px 0;

  @include vp-1023 {
    padding: 100px 0 98px;
  }

  @include vp-767 {
    padding: 56px 0 66px;
  }
}

.contacts__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;

  @include vp-1023 {
    display: grid;
    grid-template-columns: repeat(2, minmax(324px, 1fr));
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(1, minmax(290px, 1fr));
    row-gap: 35px;
  }
}

.contacts__content {
  max-width: 500px;
  height: auto;
  padding-top: 75px;

  @include vp-1023 {
    width: 100%;
    padding-top: 65px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.contacts__text {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    margin: 0 0 29px;
  }

  @include vp-767 {
    margin: 0 0 27px;
  }
}


.contacts__address {
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  top: 0;
  padding-left: 28px;
  margin-bottom: 20px;


  svg {
    position: absolute;
    top: 2px;
    left: 1px;
  }
}

.contacts__phone {
  svg {
    position: relative;
    top: 2px;
    margin-right: 6px;
  }
}
