.cruise {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;

  max-width: 260px;
  min-width: 260px;
  height: 386px;

  color: $color-default-white;
  background-color: $dark-blue;
  overflow: hidden;


  @include hover-focus {
    flex-direction: column;
    padding: 29px 25px 35px;

    .cruise__image {
      display: none;
    }

    .cruise__name {
      margin: 0 0 13px;

      @include vp-1023 {
        position: relative;
        left: 10px;
        margin: 0 0 20px;
      }

      @include vp-767 {
        left: 0;
        bottom: 0;
      }
    }

    .cruise__details {
      display: flex;

      @include vp-767 {
        left: 0;
      }
    }

    .cruise__order-link {
      display: block;
      min-width: none;
      left: 0;


      @include vp-767 {
        min-width: 220px;
        max-width: 220px;
      }
    }
  }

  @include vp-1023 {
    max-width: 309px;
    min-width: 309px;
  }

  @include vp-767 {
    max-width: 270px;
    min-width: 270px;
  }
}

.cruise__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: $dark-blue-to-down;

  img {
    height: 100%;
  }
}

.cruise__name {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-767 {
    position: relative;
    left: -9px;
    bottom: -10px;
  }
}


.cruise__details {
  display: none;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
  gap: 10px;
  margin: 0 0 30px;
  overflow-y: scroll;
  max-width: 309px;
  width: 100%;
  min-width: 290px;
  position: relative;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  @include vp-1023 {
    left: 9px;
  }
}

.cruise__detail-name {
  margin: 0 0 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.cruise__detail-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: $color-gray;
}

.cruise__order-link {
  margin-top: auto;
  display: none;
  position: relative;
  left: 9px;
}
