.footer {
  background-color: $dark-blue;
}

.footer__inner {
  display: flex;
  flex-direction: row;

  width: 100%;

  padding-top: 50px;
  padding-bottom: 50px;

  gap: 40px;

  @include vp-1023 {
    padding-top: 50px;
    padding-bottom: 50px;

    gap: 25px;
  }

  @include vp-767 {
    padding-top: 40px;
    padding-bottom: 40px;

    flex-direction: column;

    gap: 28px;
  }
}

.footer__logo {
  height: max-content;
}

.footer-nav__list {
  padding: 0;
  margin: 10px 0 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  gap: 33px;

  font-family: $ff-montserrat;
  font-weight: 500;
  line-height: 20px;

  @include vp-1023 {
    margin: 3px 0 0;

    gap: 23px;

    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    margin: 0;

    flex-direction: column;

    gap: 17px;
  }
}

.footer-nav__link {
  color: $color-default-white;
}

.footer__socials {
  margin: 10px 1px 0 auto;

  @include vp-1023 {
    margin: 3px 0 0 auto;
  }

  @include vp-767 {
    margin: 0;
  }
}
