.header {
  position: absolute;
  padding-top: 35px;
  width: 100%;
  z-index: 1;

  @include vp-1023 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 20px;
  }
}

.header__inner {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
}

.header__logo {
  color: $color-default-white;

  &--burger {
    display: none;
    position: absolute;
    content: "";
    width: 42px;
    height: 22px;
    top: 20px;
    left: 50px;
    z-index: 1;
  }
}

.header-nav__list {
  margin: 10px 0 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 33px;

  @include vp-1023 {
    margin: -2px 0 0;
    gap: 24px;
  }

  @include vp-767 {
    display: none;
  }
}

.header-nav__link {
  font-family: $ff-montserrat;
  font-weight: 500;
  line-height: 20px;
  color: $color-default-white;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include hover-focus {
    opacity: 0.7;

    transition: opacity $trans-default;
  }
}

.header__burger {
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #000000;
  display: none;
  position: relative;
  right: 0;
  z-index: 10;

  width: 32px;
  height: 22px;


  @include vp-767 {
    display: block;
  }
}

.header__burger-icon {
  position: relative;
  cursor: pointer;
  pointer-events: all;

  &--open {
    width: 32px;
    height: 22px;
    top: 4px;
    right: -4px;
    display: inline-block;
    color: $color-default-white;
    background-image: url("../img/svg/burger-menu.svg");
    background-repeat: no-repeat;
  }

  &--close {
    display: none;
  }
}

.header.is-open {
  z-index: 10;
  background: rgba(0, 43, 102, 0.5);
  height: 100vh;

  .header__logo {
    opacity: 0;

    &--burger {
      display: block;
      z-index: 20;
    }
  }


  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    width: calc(100% - 35px);
    height: 100vh;
    top: 0;
    left: 35px;
    background-color: $color-default-white;
  }

  .header-nav {
    position: absolute;
    top: 75px;
    left: 50px;
  }

  .header-nav__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header-nav__item {
    min-height: 40px;
  }

  .header-nav__link {
    min-height: 40px;
    padding: 10px 10px 8px;

    color: $dark-blue;
    font-size: 18px;
    line-height: 22px;
  }

  .header__burger-icon {
    &--open {
      display: none;
    }

    &--close {
      display: inline-block;
    }
  }
}
