.intro {
  padding: 100px 0 145px;

  @include vp-1023 {
    padding: 80px 0 77px;
  }

  @include vp-767 {
    padding: 65px 0 85px;
  }
}

.intro__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 88px;

  @include vp-1023 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
    row-gap: 28px;
  }
}

.intro__content {
  grid-column: 1 / 2;
  padding-top: 60px;

  font-family: $ff-montserrat;
  color: $dark-blue;

  display: flex;
  flex-direction: column;
  gap: 9px;

  @include vp-1279 {
    min-width: 324px;
  }

  @include vp-1023 {
    margin-top: -9px;
    padding-top: 0;
    max-width: 324px;
    gap: 0;
  }

  @include vp-767 {
    width: 100%;
    max-width: 100%;
    min-width: 290px;
  }
}

.intro__title {
  margin: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 34px;
  }
}

.intro__description {
  margin: 0;
}

.intro__image {
  grid-column: 2 / 3;
  min-width: 324px;

  @include vp-767 {
    min-width: 290px;
  }

  img {
    max-width: 560px;
    max-height: 301px;
    min-width: 560px;

    @include vp-1279 {
      max-width: 560px;
      width: 100%;
      min-width: 324px;
    }

    @include vp-1023 {
      max-width: 324px;
      min-width: 324px;
      max-height: 175px;
    }

    @include vp-767 {
      max-height: 156px;
      width: 100%;
      max-width: 100%;
      min-width: 290px;
      object-fit: contain;
    }
  }
}
