.socials {
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 27px;


  min-width: 20px;
  width: fit-content;
  max-width: 116px;

  @include vp-1023 {
    gap: 18px;
  }
}

.social__link {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include vp-1023 {
    max-height: 16px;
  }
}
