.upcoming-cruises {
  padding: 89px 0 120px;

  @include vp-1023 {
    padding: 89px 0 100px;
  }

  @include vp-767 {
    padding: 56px 0 65px;
  }
}

.upcoming-cruises__title {
  margin: 0 0 47px;

  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @include vp-1023 {
    margin: 0 0 50px;
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin: 0 0 27px;
    font-size: 24px;
    line-height: 42px;
  }
}

.upcoming-cruises__list {
  margin: 0 auto;
  padding: 0 15px;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @include vp-1023 {
    justify-content: space-between;
    column-gap: 0;
  }

  @include vp-767 {
    padding: 0;
    width: min-content;
    align-items: center;
  }
}

.upcoming-cruises__item {
  padding: 22px 30px;

  @include vp-1023 {
    padding: 27px 35px;
  }
}
